.Product {
  width: 60%;
  height: 500px;
  margin: 150px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 100px;
  &__figure {
    height: 350px;
  }
  &__image {
    height: 100%;
    width: auto;
  }
  &__info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__name {
    font-size: 32px;
  }
  &__desc {
    line-height: 2;
  }
  &__price {
    font-size: 32px;
  }
  &__options {
    width: 100%;
  }
  &__color,
  &__number {
    border: none;
    background-color: rgb(247, 247, 247);
    border-radius: 100px;
    margin-right: 20px;
    padding: 10px 15px;
    color: rgb(39, 39, 39);
    font-size: 17px;
    &:focus {
      border: none;
      outline: none;
    }
  }
  &__number {
    text-align: right;
    width: 80px;
    padding-right: 20px;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      opacity: 1;
      background-color: rgb(247, 247, 247);
      margin-left: 10px;
    }
  }
  &__btn {
    cursor: pointer;
    border-radius: 100px;
    border: none;
    color: #fff;
    background-color: rgb(39, 39, 39);
    font-weight: bold;
    padding: 8px 26px;
    font-size: 18px;
    &:hover {
      background-color: rgb(60, 60, 60);
    }
  }
}

.SimilarProducts {
  margin: 0 auto;
  width: 80%;
  height: 400px;
  margin-bottom: 100px;
  &__heading {
    color: rgb(39, 39, 39);
    font-size: 45px;
    margin-left: 150px;
    margin: 10px 0 60px 150px;
  }
  &__products {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  &__product {
    width: 30%;
    height: 50%;
    cursor: pointer;
    text-decoration: none;
  }
  &__figure {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 100%;
      background-color: rgb(247, 247, 247);
      z-index: -1;
    }
  }
  &__image {
    height: 100%;
    max-width: 100%;
  }
  &__name {
    margin-top: 30px;
  }
  &__name,
  &__price {
    display: block;
    color: rgb(39, 39, 39);
    font-size: 16px;
    text-decoration: none;
  }
}

@media (max-width: 720px) {
  .Product {
    width: 100%;
    min-height: 500px;
    margin: auto;
    margin-top: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    &__figure {
      height: 300px;
      max-width: 100%;
      text-align: center;
    }
    &__image {
      height: 80%;
      width: auto;
    }
    &__info {
      margin-top: 50px;
      width: 100%;
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    &__name {
      font-size: 26px;
      margin: 0 20px;
    }
    &__desc {
      width: 90%;
      margin: 0 auto;
      order: 3;
    }
    &__price {
      font-size: 26px;
      order: 0;
      margin-left: 20px;
    }
    &__options {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 20px 20px 50px 20px;
    }

    &__number {
      text-align: right;
      width: 80px;
      padding-right: 20px;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        opacity: 1;
        background-color: rgb(247, 247, 247);
        margin-left: 10px;
      }
    }
  }
}

.SimilarProducts {
  margin: 200px auto;
  width: 90%;
  min-height: 400px;
  margin-bottom: 400px;
  &__heading {
    font-size: 26px;
    margin: 0 10px;
  }
  &__products {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__product {
    width: auto;
    height: 200px;
    margin-bottom: 30px;
  }
  &__figure {
    height: 80%;
  }
  &__name {
    margin-top: 10px;
  }
}
