.Button {
  position: relative;
  cursor: pointer;
  z-index: 100;
  outline: none;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  border: none;
  text-align: center;
  font-weight: bold;
  padding: 8px 26px;
  font-size: 18px;
  display: block;
  margin: 80px auto;
  background-color: #fff;
  color: rgb(39, 39, 39);
  position: relative;
  z-index: 100;
  transition: 0.3s;
  &--white {
    background-color: #fff;
    color: rgb(39, 39, 39);
    &:hover {
      background-color: #ddd;
    }
  }
  &--dark {
    background-color: rgb(39, 39, 39);
    color: #fff;
    &:hover {
      background-color: rgb(50, 50, 50);
    }
  }
  &__products {
  }
}
