.Navigation {
  position: fixed;
  z-index: 120;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 56px;
  width: 100%;

  &__list {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__item {
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: rgb(194, 194, 194);
    }
    &__gray {
      color: rgb(154, 154, 154);
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.3s;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: rgb(194, 194, 194);
      }
    }
    &__black {
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      font-weight: bold;
      transition: all 0.3s;
      &:hover {
        color: #555;
      }
    }
    &__white {
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      transition: all 0.3s;
      &:hover {
        color: #111;
      }
    }
  }
}

@media (max-width: 500px) {
  .Navigation {
    // display: none;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 80px;
    width: 100%;
    background-color: transparent;
    &__list {
      display: none;
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__item {
      text-decoration: none;
      text-transform: uppercase;
      color: rgb(154, 154, 154);
      margin-bottom: 60px;
      &__logo {
        display: none;
      }
      &__black {
        color: #000;
      }
    }
    &__hamburger {
      position: fixed;
      top: 20px;
      left: 20px;
      width: 28px;
      background-color: transparent;
      border: none;
      outline: none;
      filter: invert(1);
    }
    &__moblogo {
      display: block;
      margin: 20px auto 0 auto;
    }
  }
}
